@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:wght@400;700&display=swap');

body {
    font-family: "Roboto", serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
  }
  
.Container {
    width: 100%;
    border-radius: 10px;
    align-items: center;
}

.logo{
    width: 300px;
}

.topo{
    display: grid;
    justify-content: center;
    align-items: center;
}

.title{
    text-align: center;
    font-size: 50px;
    color: #224F34;
}

.login{
    display: grid;
    align-items: center;
    justify-content: center;
}

.campos{
    padding: 10px;
    padding-right: 100px;
    border-radius: 5px;
    margin-left: 30px;
    margin-bottom: 15px;
    border-width: 1px;
}

label{
    font-size: 25px;
}

.esqueceuSenha{
    display: grid;
    justify-content: flex-end;
    font-size: 10px;
    color: black;
}

.submit{
    padding: 20px;
    font-size: 30px;
    background-color: #C2EFD4;
    border: none;
    border-radius: 10px;

}

.Cadastro{
    display: grid;
    justify-content: center;
    margin-top: 15px;
    color:black;
}
.messages {
    text-align: center;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
}

.message {
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

.danger { 
    background-color: #ffcccc; /* Vermelho claro */
    color: #cc0000; /* Vermelho escuro */
}

.success { 
    background-color: #ccffcc; /* Verde claro */
    color: #006600; /* Verde escuro */
}