{% extends "base.html" %}

{% block content %}
  <h2 class="text-center text-success">Planos de Assinatura</h2>
  <div class="row">
    {% for assinatura in assinaturas %}
      <div class="col-md-4">
        <div class="card mb-4 border-success">
          <div class="card-body">
            <h5 class="card-title">{{ assinatura.tipo }}</h5>
            <p class="card-text">{{ assinatura.descricao }}</p>
            <p><strong>Preço:</strong> R$ {{ assinatura.preco }}/mês</p>
            <a href="{% url 'assinar_plano' assinatura.id %}" class="btn btn-success">Assinar</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
