{% extends "base.html" %}

{% block content %}
    <h2>Loja - Produtos Disponíveis</h2>
    <ul>
        {% for produto in produtos %}
            <li>
                <strong>{{ produto.nome }}</strong> - R$ {{ produto.preco }}<br>
                <em>{{ produto.descricao }}</em><br>
                <a href="{% url 'adicionar_ao_carrinho' produto.id %}">Adicionar ao Carrinho</a>
            </li>
        {% empty %}
            <li>Nenhum produto disponível.</li>
        {% endfor %}
    </ul>
{% endblock %}
