{% extends "base.html" %}

{% block content %}
  <h2 class="text-center text-success">Produtos Disponíveis</h2>
  <div class="row">
    {% for produto in produtos %}
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">{{ produto.nome }}</h5>
            <p class="card-text">{{ produto.descricao }}</p>
            <p><strong>Preço:</strong> R$ {{ produto.preco }}</p>
            <a href="{% url 'comprar_produto' produto.id %}" class="btn btn-success">Comprar</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
