{% extends 'base.html' %}

{% block content %}
<section class="verificar-senha-section">
    <h2>Verifique sua Senha</h2>
    
    <form method="POST">
        {% csrf_token %}
        <div class="info-item">
            <label for="id_senha_atual"><strong>Senha Atual:</strong></label>
            <input type="password" name="senha_atual" id="id_senha_atual" required>
        </div>
        <button type="submit" class="botao-escolher">Verificar Senha</button>
    </form>
    
    {% if messages %}
        <div class="alerta">
            {% for message in messages %}
                <p class="alerta">{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
</section>
{% endblock %}
