body {
    font-family: Arial, sans-serif;
    background-color: #d4f0d7;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.topo {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.topo .Retornar {
    background: none;
    border: 1px solid #224F34; 
    border-radius: 5px;
    font-size: 16px;
    padding: 5px 35px;
    cursor: pointer;
    color: #224F34;
    margin-right: 5px;
    margin: 10px;
}

.Retornar a{
    text-decoration: none;
}

.topo .logo {
    height: 100px;
    margin-left: 40%;
}
.container {
    display: flex;
    width: 80%;
    background-color: white;
    margin-top: 80px;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex-direction: column;
}
.content {
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.sidebar {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sidebar button {
    background: none;
    border: none;
    padding: 10px;
    text-align: left;
    cursor: pointer;
    font-size: 16px;
}
.sidebar .active {
    background-color: #c8f7c5;
    border-radius: 5px;
}
.profile-header {
    display: flex;
    align-items: center;
    gap: 16px;
}
.profile-pic {
    position: relative;
}
.profile-pic img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #8fd19e;

}

.profile-form {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 20px;
}
.form-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}
label {
    font-size: 14px;
    color: #083A50;
}
input {
    padding: 8px;
    border: 1px solid #50849A;
    border-radius: 5px;
}


h2{
    color: #083A50;
}

a{
    text-decoration: none;
    color: black;
}



.form-container {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 30px;
}

.profile-form {
    width: 350px;
}

.form-selection {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-registered {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card-header {
    font-weight: bold;
    color: #777;
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-body {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-logo {
    width: 40px;
}

.card-number {
    font-size: 16px;
    font-weight: bold;
}

.card-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

.delete-link {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.delete-icon {
    font-size: 18px;
    cursor: pointer;
}

.payment-form {
    background: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    width: 320px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.payment-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

}


.save-button {
    background: #8fd19e;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
}

.save-button:hover {
    background: #7ac78c;
}